@import '~@/theme/_var';

.left {
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 246, 250);
}

.header {
  z-index: 1;
  position: relative;
  height: @navHeight;
  line-height: @navHeight;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}
